.approval-confirmation-screen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.approval-confirmation-screen-approval-confirmation-screen {
  width: 100%;
  height: 404px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.approval-confirmation-screen-frame25 {
  top: 220px;
  left: 68px;
  width: 200px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.approval-confirmation-screen-frame1171275915 {
  gap: 10px;
  top: -2px;
  left: 58px;
  width: 84px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.approval-confirmation-screen-text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.approval-confirmation-screen-frame26 {
  top: 266px;
  left: 68px;
  width: 200px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.approval-confirmation-screen-text3 {
  top: 8px;
  left: 74px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.approval-confirmation-screen-text5 {
  top: 160px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.approval-confirmation-screen-rectangle5 {
  top: 87px;
  left: 134px;
  width: 67px;
  height: 55px;
  position: absolute;
}
