.clientd-app-screen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.clientd-app-screen-clientd-app-screen {
  width: 100%;
  height: 2329px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.clientd-app-screen-menu1 {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.clientd-app-screen-group21 {
  top: 70px;
  left: 228px;
  width: 90px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.clientd-app-screen-text100 {
  top: 9px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text102 {
  top: 197px;
  left: 32px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text104 {
  top: 232px;
  left: 29px;
  color: rgba(72, 65, 65, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame16 {
  top: 359px;
  left: 34px;
  width: 317px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text108 {
  top: 13px;
  left: 15px;
  color: rgba(175, 174, 174, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-filter {
  top: 15px;
  left: 210px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.clientd-app-screen-frame171 {
  top: 8px;
  left: 234px;
  width: 74px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.clientd-app-screen-text110 {
  top: 5px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-group3 {
  top: 325px;
  left: 108px;
  width: 178px;
  height: 25px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.clientd-app-screen-frame172 {
  top: 0px;
  left: 0px;
  width: 178px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-frame19 {
  top: 0px;
  left: 89px;
  width: 89px;
  height: 25px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.clientd-app-screen-text112 {
  left: 114px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text114 {
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text116 {
  top: 426px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text118 {
  top: 1816px;
  left: 57px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text122 {
  top: 759px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text124 {
  top: 759px;
  left: 130px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame52 {
  top: 461px;
  left: 31px;
  width: 359px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.clientd-app-screen-rectangle2 {
  top: 0px;
  left: 0px;
  width: 116px;
  height: 26px;
  position: absolute;
  border-radius: 10px;
}
.clientd-app-screen-rectangle3 {
  top: 0px;
  left: 123px;
  width: 140px;
  height: 26px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text126 {
  top: 4px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text128 {
  top: 4px;
  left: 141px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-group4 {
  top: 0px;
  left: 270px;
  width: 172px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.clientd-app-screen-text130 {
  top: 4px;
  left: 15.22857666015625px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame21 {
  top: 814px;
  left: 37px;
  width: 320px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text132 {
  top: 48px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text134 {
  top: 72px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame22 {
  top: 1002px;
  left: 37px;
  width: 320px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text138 {
  top: 73px;
  left: 49px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text144 {
  top: 48px;
  left: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame23 {
  top: 1190px;
  left: 37px;
  width: 320px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text146 {
  top: 48px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text148 {
  top: 78px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame24 {
  top: 1378px;
  left: 37px;
  width: 320px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text152 {
  top: 41px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text154 {
  top: 68px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame53 {
  top: 1566px;
  left: 37px;
  width: 320px;
  height: 160px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text162 {
  top: 48px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text164 {
  top: 78px;
  left: 23px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame13 {
  top: 2010px;
  left: 0px;
  width: 393px;
  height: 319px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(175, 174, 174, 1);
}
.clientd-app-screen-frame12 {
  top: 1901px;
  left: 37px;
  width: 331px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.clientd-app-screen-text168 {
  top: 9px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-group71 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.clientd-app-screen-text170 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text172 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame20 {
  top: 503px;
  left: 31px;
  width: 331px;
  height: 236px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.clientd-app-screen-text174 {
  top: 18px;
  left: 235px;
  color: rgba(115, 116, 116, 1);
  width: 74px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text175 {
  color: rgba(115, 116, 116, 1);
}
.clientd-app-screen-text176 {
  color: rgba(0, 0, 0, 1);
}
.clientd-app-screen-frame70 {
  top: 165px;
  left: 118px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text177 {
  top: 1px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame74 {
  top: 165px;
  left: 30px;
  width: 86px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text179 {
  top: 1px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame71 {
  top: 165px;
  left: 205px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text181 {
  top: 1px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-navlink {
  display: contents;
}
.clientd-app-screen-frame55 {
  top: 193px;
  left: 17px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(190, 190, 190, 1);
}
.clientd-app-screen-text183 {
  top: 4px;
  left: 32px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame75 {
  top: 193px;
  left: 171px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.clientd-app-screen-text185 {
  top: 4px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-group22 {
  top: 86px;
  left: 73px;
  width: 175px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.clientd-app-screen-text187 {
  top: 3px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-ellipse1 {
  top: 16px;
  left: 136px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.clientd-app-screen-frame1000005667 {
  gap: 2px;
  top: 16px;
  left: 11px;
  width: 36px;
  height: 15px;
  display: flex;
  padding: 2px 4px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(115, 116, 116, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.clientd-app-screen-text189 {
  top: 2px;
  left: 4px;
  color: var(--dl-color-grey-700);
  width: 16px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 10px;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-star {
  top: 1px;
  left: 21px;
  width: 10px;
  height: 11px;
  position: absolute;
}
.clientd-app-screen-text191 {
  top: 130px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text195 {
  top: 111px;
  left: 129px;
  color: rgba(115, 116, 116, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-frame50 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.clientd-app-screen-menu2 {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.clientd-app-screen-group72 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.clientd-app-screen-text197 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-text199 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.clientd-app-screen-group23 {
  top: 70px;
  left: 234px;
  width: 84px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.clientd-app-screen-text201 {
  top: 11px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
