.dashboard-freelancer-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard-freelancer-dashboard-freelancer {
  width: 100%;
  height: 1246px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-freelancer-text10 {
  top: 141px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  width: 291px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text11 {
  font-weight: 400;
}
.dashboard-freelancer-text12 {
  font-weight: 600;
}
.dashboard-freelancer-text14 {
  font-weight: 600;
}
.dashboard-freelancer-frame49 {
  top: 222px;
  left: 31px;
  width: 332px;
  height: 145px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-group21 {
  top: 107px;
  left: 73px;
  width: 175px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.dashboard-freelancer-text15 {
  top: 3px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-ellipse1 {
  top: 16px;
  left: 129px;
  width: 75px;
  height: 75px;
  position: absolute;
}
.dashboard-freelancer-ellipse14 {
  top: 73px;
  left: 183px;
  width: 15px;
  height: 15px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.dashboard-freelancer-frame57 {
  top: 1092px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-freelancer-text17 {
  top: 11px;
  left: 71px;
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-frame58 {
  top: 1139px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-text19 {
  top: 11px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-frame50 {
  top: 433px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-text21 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-frame55 {
  top: 789px;
  left: 31px;
  width: 323px;
  height: 108px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-text23 {
  top: 13px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  width: 59px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-rating {
  top: 44px;
  left: 13px;
  width: 297px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-freelancer-star12 {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 50px;
  position: absolute;
}
.dashboard-freelancer-star13 {
  top: 0px;
  left: 61.875003814697266px;
  width: 49px;
  height: 50px;
  position: absolute;
}
.dashboard-freelancer-star14 {
  top: 0px;
  left: 123.75000762939453px;
  width: 49px;
  height: 50px;
  position: absolute;
}
.dashboard-freelancer-star15 {
  top: 0px;
  left: 185.625px;
  width: 49px;
  height: 50px;
  position: absolute;
}
.dashboard-freelancer-star16 {
  top: 0px;
  left: 247.50001525878906px;
  width: 49px;
  height: 50px;
  position: absolute;
}
.dashboard-freelancer-frame56 {
  top: 963px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-text25 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 142px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text27 {
  top: 929px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-frame54 {
  top: 539px;
  left: 31px;
  width: 323px;
  height: 184px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.dashboard-freelancer-text29 {
  top: 11px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text31 {
  top: 11px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text33 {
  top: 74px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text35 {
  top: 95px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text37 {
  top: 32px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text39 {
  top: 32px;
  left: 249px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: right;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text41 {
  top: 151px;
  left: 98px;
  color: rgba(115, 116, 116, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-line3 {
  top: 139px;
  left: 2px;
  width: 319px;
  height: 1px;
  position: absolute;
}
.dashboard-freelancer-text43 {
  top: 399px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text45 {
  top: 755px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text47 {
  top: 505px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-frame53 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.dashboard-freelancer-navlink1 {
  display: contents;
}
.dashboard-freelancer-menu {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
  text-decoration: none;
}
.dashboard-freelancer-navlink2 {
  display: contents;
}
.dashboard-freelancer-group22 {
  top: 70px;
  left: 143px;
  width: 175px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-color: rgba(217, 217, 217, 1);
}
.dashboard-freelancer-text49 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-group7 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.dashboard-freelancer-text51 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.dashboard-freelancer-text53 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
