.freelancer-homepage-screen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.freelancer-homepage-screen-freelancer-homepage-screen {
  width: 100%;
  height: 1840px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.freelancer-homepage-screen-text100 {
  top: 197px;
  left: 56px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text104 {
  top: 262px;
  left: 30px;
  color: rgba(72, 65, 65, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame16 {
  top: 339px;
  left: 34px;
  width: 317px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text108 {
  top: 13px;
  left: 15px;
  color: rgba(175, 174, 174, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-filter {
  top: 15px;
  left: 210px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.freelancer-homepage-screen-frame17 {
  top: 8px;
  left: 234px;
  width: 74px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text110 {
  top: 5px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text112 {
  top: 416px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text114 {
  top: 755px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text116 {
  top: 1055px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame21 {
  top: 790px;
  left: 31px;
  width: 331px;
  height: 236px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.freelancer-homepage-screen-text118 {
  top: 13px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text122 {
  top: 61px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text126 {
  top: 160px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text127 {
  font-weight: 400;
}
.freelancer-homepage-screen-text128 {
  font-weight: 500;
}
.freelancer-homepage-screen-text129 {
  color: rgba(0, 0, 0, 1);
}
.freelancer-homepage-screen-text130 {
  color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text131 {
  color: rgba(0, 0, 0, 1);
}
.freelancer-homepage-screen-text132 {
  color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-frame701 {
  top: 118px;
  left: 99px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text134 {
  top: 1px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame721 {
  top: 138px;
  left: 11px;
  width: 108px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text136 {
  top: 1px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame731 {
  top: 138px;
  left: 121px;
  width: 67px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text138 {
  top: 1px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame741 {
  top: 118px;
  left: 11px;
  width: 86px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text140 {
  top: 1px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame711 {
  top: 117px;
  left: 186px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text142 {
  top: 1px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame551 {
  top: 193px;
  left: 11px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text144 {
  top: 4px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame751 {
  top: 193px;
  left: 176px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text146 {
  top: 4px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame53 {
  top: 490px;
  left: 33px;
  width: 331px;
  height: 236px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.freelancer-homepage-screen-text148 {
  top: 13px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 244px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text152 {
  top: 61px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 296px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text156 {
  top: 160px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text157 {
  font-weight: 400;
}
.freelancer-homepage-screen-text158 {
  font-weight: 500;
}
.freelancer-homepage-screen-text159 {
  color: rgba(0, 0, 0, 1);
}
.freelancer-homepage-screen-text160 {
  color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text161 {
  color: rgba(0, 0, 0, 1);
}
.freelancer-homepage-screen-text162 {
  color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-frame702 {
  top: 118px;
  left: 99px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text164 {
  top: 1px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame722 {
  top: 138px;
  left: 11px;
  width: 108px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text166 {
  top: 1px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame732 {
  top: 138px;
  left: 121px;
  width: 67px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text168 {
  top: 1px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame742 {
  top: 118px;
  left: 11px;
  width: 86px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text170 {
  top: 1px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame712 {
  top: 117px;
  left: 186px;
  width: 85px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text172 {
  top: 1px;
  left: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame552 {
  top: 193px;
  left: 11px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text174 {
  top: 4px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame752 {
  top: 193px;
  left: 176px;
  width: 144px;
  height: 30px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text176 {
  top: 4px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame52 {
  top: 451px;
  left: 31px;
  width: 359px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.freelancer-homepage-screen-rectangle2 {
  top: 0px;
  left: 0px;
  width: 116px;
  height: 26px;
  position: absolute;
  border-radius: 10px;
}
.freelancer-homepage-screen-rectangle3 {
  top: 0px;
  left: 123px;
  width: 140px;
  height: 26px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text178 {
  top: 4px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text180 {
  top: 4px;
  left: 141px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-group4 {
  top: 0px;
  left: 270px;
  width: 172px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.freelancer-homepage-screen-text182 {
  top: 4px;
  left: 15.22857666015625px;
  color: rgba(0, 0, 0, 1);
  width: 141px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame13 {
  top: 1521px;
  left: 0px;
  width: 393px;
  height: 319px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-frame501 {
  top: 1098px;
  left: 31px;
  width: 331px;
  height: 276px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text184 {
  top: 13px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text186 {
  top: 54px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text187 {
  font-weight: 400;
}
.freelancer-homepage-screen-text189 {
  font-weight: 400;
}
.freelancer-homepage-screen-text191 {
  top: 111px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text192 {
  font-weight: 400;
}
.freelancer-homepage-screen-text194 {
  font-weight: 400;
}
.freelancer-homepage-screen-text196 {
  top: 168px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text197 {
  font-weight: 400;
}
.freelancer-homepage-screen-text199 {
  font-weight: 400;
}
.freelancer-homepage-screen-line3 {
  top: 43px;
  left: 13px;
  width: 305px;
  height: 1px;
  position: absolute;
}
.freelancer-homepage-screen-group1171275750 {
  top: 124px;
  left: 139px;
  width: 175px;
  height: 37px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.freelancer-homepage-screen-frame1171275911 {
  top: 0px;
  left: 0px;
  width: 175px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
}
.freelancer-homepage-screen-frame1171275912 {
  top: 8px;
  left: 13px;
  width: 148px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.freelancer-homepage-screen-group1171275749 {
  top: 6px;
  left: -7px;
  width: 123px;
  height: 6px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.freelancer-homepage-screen-progress-bar {
  top: 0px;
  left: 0px;
  width: 123px;
  height: 6px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.freelancer-homepage-screen-rectangle {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 6px;
  position: absolute;
  border-radius: 4px;
}
.freelancer-homepage-screen-text201 {
  top: 6px;
  left: 137px;
  color: rgba(46, 42, 42, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: right;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame64 {
  top: 219px;
  left: 15px;
  width: 144px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text203 {
  top: 9px;
  left: 29px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame65 {
  top: 219px;
  left: 172px;
  width: 144px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.freelancer-homepage-screen-text205 {
  top: 9px;
  left: 27px;
  color: rgba(115, 116, 116, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame12 {
  top: 1432px;
  left: 37px;
  width: 331px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.freelancer-homepage-screen-text207 {
  top: 9px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-frame502 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.freelancer-homepage-screen-menu {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.freelancer-homepage-screen-group2 {
  top: 70px;
  left: 143px;
  width: 175px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.freelancer-homepage-screen-text209 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-group7 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.freelancer-homepage-screen-text211 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.freelancer-homepage-screen-text213 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
