.notification-screen-client-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.notification-screen-client-notification-screen-client {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.notification-screen-client-text10 {
  top: 141px;
  left: 31px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-frame50 {
  top: 220px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.notification-screen-client-text12 {
  top: 10px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-frame591 {
  top: 190px;
  left: 31px;
  width: 20px;
  height: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(175, 174, 174, 1);
}
.notification-screen-client-frame54 {
  top: 320px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.notification-screen-client-text14 {
  top: 10px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 185px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-frame60 {
  top: 423px;
  left: 31px;
  width: 323px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.notification-screen-client-text16 {
  top: 10px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-frame592 {
  top: 291px;
  left: 31px;
  width: 20px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(175, 174, 174, 1);
}
.notification-screen-client-frame61 {
  top: 394px;
  left: 31px;
  width: 20px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(175, 174, 174, 1);
}
.notification-screen-client-text18 {
  top: 186px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-text20 {
  top: 286px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-text22 {
  top: 389px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-frame53 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.notification-screen-client-menu {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.notification-screen-client-group2 {
  top: 70px;
  left: 143px;
  width: 175px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.notification-screen-client-text24 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-group7 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.notification-screen-client-text26 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.notification-screen-client-text28 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
