.profile-creation-screen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-creation-screen-profile-creation-screen {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.profile-creation-screen-group7 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.profile-creation-screen-text10 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-creation-screen-text12 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-creation-screen-text14 {
  top: 141px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-creation-screen-frame26 {
  top: 191px;
  left: 37px;
  width: 320px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.profile-creation-screen-navlink {
  display: contents;
}
.profile-creation-screen-radiobuttonunchecked1 {
  top: 40px;
  left: 275px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  background-size: cover;
  text-decoration: none;
  background-image: url("/external/radiobuttonunchecked4914-ecso.svg");
  background-position: center;
}
.profile-creation-screen-text16 {
  top: 50px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-creation-screen-digital-nomad {
  top: 20px;
  left: 19px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.profile-creation-screen-frame27 {
  top: 313px;
  left: 37px;
  width: 320px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.profile-creation-screen-radiobuttonunchecked2 {
  top: 40px;
  left: 275px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.profile-creation-screen-text18 {
  top: 50px;
  left: 19px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.profile-creation-screen-frame12 {
  top: 446px;
  left: 37px;
  width: 320px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.profile-creation-screen-text20 {
  top: 9px;
  left: 125px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
