.transaction-successful-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.transaction-successful-transaction-successful {
  width: 100%;
  height: 852px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.transaction-successful-frame25 {
  top: 506px;
  left: 98px;
  width: 200px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(175, 174, 174, 1);
}
.transaction-successful-frame1171275915 {
  gap: 10px;
  top: -2px;
  left: 70.5px;
  width: 59px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.transaction-successful-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-text12 {
  top: 390px;
  left: 73px;
  color: rgba(0, 0, 0, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-text13 {
  font-weight: 400;
}
.transaction-successful-text15 {
  font-weight: 400;
}
.transaction-successful-text17 {
  top: 240px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 258px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-text19 {
  top: 435px;
  left: 71px;
  color: rgba(0, 0, 0, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-text20 {
  font-weight: 400;
}
.transaction-successful-text22 {
  font-weight: 400;
}
.transaction-successful-rectangle5 {
  top: 306px;
  left: 164px;
  width: 67px;
  height: 55px;
  position: absolute;
}
.transaction-successful-frame53 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 128px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.transaction-successful-menu {
  top: 78px;
  left: 330px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.transaction-successful-group2 {
  top: 70px;
  left: 143px;
  width: 175px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(217, 217, 217, 1);
}
.transaction-successful-text24 {
  top: 11px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-group7 {
  top: 70px;
  left: 31px;
  width: 75.5999984741211px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.transaction-successful-text26 {
  top: 5.454545497894287px;
  color: rgba(0, 0, 0, 1);
  width: 40px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.transaction-successful-text28 {
  left: 32.599998474121094px;
  color: rgba(0, 0, 0, 1);
  width: 43px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
