.wallet-connected1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.wallet-connected1-wallet-connected {
  width: 100%;
  height: 309px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.wallet-connected1-text10 {
  top: 114px;
  left: 51px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wallet-connected1-text12 {
  top: 149px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.wallet-connected1-text13 {
  font-weight: 400;
}
.wallet-connected1-text15 {
  font-weight: 400;
}
.wallet-connected1-text16 {
  font-weight: 600;
}
.wallet-connected1-rectangle5 {
  top: 48px;
  left: 117px;
  width: 67px;
  height: 55px;
  position: absolute;
}
.wallet-connected1-navlink {
  display: contents;
}
.wallet-connected1-frame25 {
  top: 230px;
  left: 51px;
  width: 200px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(175, 174, 174, 1);
}
.wallet-connected1-text20 {
  top: 8px;
  left: 66px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
