.frame32-frame32 {
  width: 275px;
  height: 127px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(175, 174, 174, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.frame32-text2 {
  top: 11px;
  left: 10px;
  color: rgba(175, 174, 174, 1);
  height: auto;
  display: inline-block;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame32root-class-name {
  top: 326px;
  left: 23px;
  position: absolute;
}
